.main {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 86.13%,
      #ffffff 100%
    ),
    url("./asset/landingpageBackground.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
 
}
.nav {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  top: 47px;
}
.nav-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 478px;
  height: 22px;
  list-style-type: none;
}
* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40px;
  align-items: center;
  width: 100vw;
}

li a {
  text-decoration: none;
  color: white;
}
.ellipse {
  background-color: #e58411;
  border-radius: 100%;
  height: 25.24px;
  width: 20px;
  position: absolute;
  left: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart {
  display: flex;
  position: relative;
  right: 80px;
}
.logo {
  color: white;
  position: relative;
  left: 80px;
}
.main-text {
  width: 861px;
  height: 208px;
  font-size: 39px;
  text-align: center;
}
.text {
  width: 606px;
  height: 76px;
  font-weight: 200;
  font-size: 24px;
  text-align: center;
}
.search {
  height: 54px;
  width: 344px;
  position: relative;
  display: flex;
}
.input {
  height: 100%;
  width: 100%;
  border: 0px;
  border-radius: 42px;
  background-color: #ffffff64;
  font-size: 18px;
  text-align: left;
  padding-left: 20px;
  color: white;
  font-weight: 200;
}
.search-button {
  position: absolute;
  right: 0px;
  height: 40px;
  width: 40px;
  border: 0px;
  background-color: #e58411;
  border-radius: 100%;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 200px;
  justify-content: space-around;
}
.input::placeholder {
  color: white;
  font-weight: 100;
}
.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  padding: 0px 100px;
}
.one {
  font-weight: 700;
  font-size: 42px;
  width: 242px;
  height: 104px;
}
.containor {
  width: fit-content;
  margin: 20px;
}
.div-containor {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.list-furniture {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 18px;
}
.containor .description {
  font-size: 16px;
  font-weight: 300;
  width: 332px;
  height: 90px;
  margin: 20px 0px;
  line-height: 29.6px;
}

.containor .link a {
  color: #e58411;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 121px;
}
.page2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
}
.page2 .heding ,.page2 .heding h1{
  font-size: 42px;
  font-weight: 700;
  height: 104px;
}
.page2 .tab ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.page2 .tab {
  width: 348px;
  height: 57px;
  background-color: #eeeeee;
  border-radius: 44px;
  padding-left: 5px;
  margin-top: 50px;
}
.page2 .tab ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 45px;
  border-radius: 32px;
}
.page2 .tab ul li:hover{
    cursor: pointer;
}
.page2 .tab ul .active {
  background-color: white;
}
.page2 .card-containor {
  width: 1198.35px;
  height: 492px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.page2 .card-containor .card {
  width: 268.09px;
  height: 492px;
  border-radius: 20px;
  background: white;
}
.page2 .card-containor .card-up {
  background-color: #fafafa;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
}
.page2 .card-containor .card-up img {
  width: 217.9px;
  height: 255.9px;
  
}
.rotate {
  transform: rotateY(-180deg);
}
.page2 .card-containor .card .card-down {
  background-color: #ffffff;
  height: 40%;
  border-radius: 0px 0px 20px 20px;
}
.card .card-down .info {
  width: 188.88px;
  height: 76.16px;
  top: 2078.12px;
  left: 142.33px;
  padding: 0px, 0px, 0px, 0px;
  margin: 20px;
}
.card .card-down .info .stars {
  color: #f6b76f;
}
.card .card-down .div-price .plus-button button {
  background-color: #0d1b39;
  color: white;
  height: 48.74px;
  width: 48.74px;
  border-radius: 100%;
}
.card .card-down .div-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
  bottom: 0px;
}
.card .card-down .div-price .price {
  font-size: 21.33px;
  font-weight: 600;
}
.card .card-down .div-price .plus-button button i {
  font-size: 24px;
}
.page2 .more a{
    display: flex;
    align-items: center;
    width: 123px;
    justify-content: space-between;
    font-size: 18px;
    text-decoration: none;
    color:  #E58411;
    margin-top: 100px;
}
.flex{
    display: flex;
}
.main-containor .leftArrow,.main-containor .rightArrow{
    height: 50px;
    width: 50px;
    background: #FFFFFF;
    box-shadow: 0px 7.03125px 19.53125px 0px #0000000F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-top: 140px;
    position: relative;
}
.leftArrow{
    left: 20px;
}
.rightArrow{
    right: 20px;
}
.main-containor{
    align-items: center;
}
.page3{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}
.page3 .main-content{
    width: 556px;
    height: fit-content;
    justify-content: space-evenly;
 flex-direction: column;
 margin-right: 150px;
}
.page3 .image img{
    height: 445px;
    width: 629px;
    border-radius:20px ;
    left: -27px;
   position: relative;
   z-index: 1;
}
.page3 .main-content .one,.page4 .main-content .one{
    font-size: 16px;
    color:  #E58411;
    line-height: 21.09px;
    font-weight: 500;
    letter-spacing: 2px;
    height: fit-content;
}
.page3 .main-content h2,.page4 .main-content h2{
    width: 413px;
    font-size: 42px;
    line-height: 49.22px;
    margin: 15px 0px;
}
.page3 .main-content .content1,.page4 .main-content .content1{
    font-size: 18px;
    font-weight: 200;
    color:  #1E1E1E;
    
}
.page4{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page3 .main-content a,.page4 .main-content a{
    display: flex;
    align-items: center;
    width: 123px;
    justify-content: space-between;
    font-size: 18px;
    text-decoration: none;
    color:  #E58411;
    margin-top: 50px;
}
.page4 .image img{
    height: 700px;
    width: 829px;
}
.page4 .main-content{
    width: 556px;
    height: fit-content;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 150px;
}
.page5{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page5 .text-containor p{
    font-size: 16px;
    color:  #E58411;
    line-height: 21.09px;
    font-weight: 500;
    letter-spacing: 2px;
    height: fit-content;
}
.page5 .text-containor{
    flex-direction: column;
    align-items: center;
    height: 94px;
    justify-content: space-between;
    margin: 0px 0px 50px 0px;
}
.page5 .text-containor h2{
    font-size: 42px;
    font-weight: 700;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center
}
.reviewcard{
    width: 370px;
    height: 506px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}
.reviewimg img{
  border-radius: 100%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.reviewimg{
    height: 50px;
    width: 50px;
    padding: 5px;
    background: white;
    border-radius: 100%;
    position: relative;
    bottom: -30px;
    margin: 5px;
}
.page5 .main-review .review .new{
    justify-content: space-between;
    width: 1200px;
}
.rectengal{
   background: white;
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content: center;
   border-radius: 20px;
   height: 206px;
   width: 334px;
}
.rectengal .name{
    height: 42px;
    width: 150px;
    margin-top: 20px;
}
.rectengal .name h2{
    font-size: 18px;
}
.rectengal .name p{
    font-size: 12px;
    font-weight: 200;
    color:  #1E1E1E;
}

.new .reviewcard .items{
    height: 239px;
    width:334px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
   
}
.reviewcard {
  transition: transform 0.5s ease-in-out; 
}
.review .leftarrow{
    box-shadow: 0px 7.03125px 19.53125px 0px #0000000F;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: relative;
    left: 20px;
    z-index: 1;
    background-color: white;
}
.review .rightarrow{
    box-shadow: 0px 7.03125px 19.53125px 0px #0000000F;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: relative;
    right: 20px;
    z-index: 1;
    background-color: white;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.rectengal .des p{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.41px;
}
.rectengal .des{
    width: 252px;
    margin: 10px 0px 20px 0px;
}
.rectengal .rating i{
    color:  #F6973F;
    opacity: 30%;
}
.rectengal .rating .active{
    color: #F6973F;
    opacity: 100%;
}
.footer{
    width: 100vw;
    height: 462px;
    display: flex;
    background: #F7F7F7;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.footer .main-containor{
    display: flex;
    justify-content: space-between;
    height: 146px;
    width: 1064px;
}
.footer .main-containor .one1{
    width: 293px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .main-containor .one1 p{
    font-size: 15px;
    color:  #1E1E1E;
    line-height: 24px;
}
.footer .copyright{
    display: flex;
    justify-content: space-between;
    width: 1064px;
    position: absolute;
    bottom: 30px;
}
.footer .copyright .second2{
    justify-content: space-between;
    width: 300px;
    color: #1E1E1E;
 
}
.footer .main-containor .two{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .main-containor .two .head{
    font-size: 17px;
    color: #F6973F;
}
.footer .main-containor .two p{
    font-size: 15px;
}
.copyright #ccright{
    color: #1E2833;
    opacity: 50%;
    font-weight: 300;
    font-size: 15px;
}
.footer .main-containor .two .social p{
    margin-left: 10px;
}
.hidden{
    display: none;
}
.sliding {
    transform: scale(0.7);
    opacity: 0; 
  }
  .new4{
    transition: transform 0.3s ease;
  }

  @media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
  @media (max-width:480px)  { 
    body{
      overflow-x: hidden;
    }
      .second{
        flex-direction: column;
      }
      .second .div-containor{
        flex-direction: column;
      }
      .main .navbar .nav {
          display: none;
      }
      .main .dots{
        height: 50px;
        width: 50px;
        display: flex;
       justify-content: center;
       align-items:center ;
      }
      .main .logo{
        left:0px;
      }
      .main .cart{
        right: 10px;
      }
      .main .content .main-text{
        width: 80%;
        height: fit-content;
        font-size: 18px;
      }
      .main .content .text{
        width: 80%;
        height: fit-content;
        margin-bottom: 10px;
      }
      .second{
        height: 100vh;
        padding: 0;
        justify-content: space-around;
      }
      .second .div-containor{
        width: 90%;
      }
      .page2 .main-containor .new4{
        width: 80vw;
        overflow-x: hidden;
      }
      .page3 {
          flex-direction: column;
          height: 100vh;
          width: 100vw;
          justify-content:center; 
          align-items: center;
      }
      .page3 .image{
        display: none;
      }
      .page3 .main-content{
        width: 80%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-right: 0px;
      }
      .page3 .main-content h2,.page3 .main-content p,.page4 .main-content h2,.page4 .main-content p{
        width: 80%;
        text-align: center;
      }
      .page4 {
        flex-direction: column;
        width: 100vw;
    }
    .page4 .main-content{
      height: 100%;
      width: 100%;
      margin-left: 0px;
      justify-content: space-evenly;
      align-items: center;
     
    }
    .page4 .image{
      display: none;
    }
    .page5{
      width: 100vw;
    }
    .page5 .main-review{
      overflow-x: hidden;
      width: fit-content;
    }
    .page5 .main-review .review {
      width: 100vw;
    }
    .page5 .main-review .review .new{
      width: 100%;
      overflow-x: hidden;
    }
    .footer{
      flex-direction: column;
      height: fit-content;
      height: 80vh;
      width: 100vw;
      justify-content: space-around;
      align-items: center;
    }
    .footer .main-containor{
      flex-direction: column;
      height: fit-content;
      justify-content: space-between;
      height: 100%;
    }
    .footer .main-containor .one1{
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .footer .main-containor .two{
      justify-content: space-evenly;
    }
    .footer .copyright{
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
   }
  @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
  @media (min-width:1281px) { /* hi-res laptops and desktops */ }